.item__music__section {
    color: white;

    .item__music__addedAt {
        font-size: 15px;
        margin-bottom: 2px;

        &:hover {
            cursor: default;
        }
    }

    .item__music__card {
        background-color: #2E0606;

        border-radius: 5px;
        margin-bottom: 16px;
        height: 90px;

        .music__picture {
            display: block;
            width: 90px;
            height: 90px;
        }

        .music__name {
            margin: 0;
            font-size: 20px;
        }

        &:hover {
            cursor: pointer;
            background-color: #1d0707;

            .music__picture {
                filter: brightness(50%);
            }
        }
    }
}

.music__delete__section {
    align-self: center;
    color: white;
    margin-left: 20px;

    &:hover {
        cursor: pointer;
        color: #890000;
    }

    .music__delete__button {
        font-size: 30px;
    }
}