<mlm-nav-menu></mlm-nav-menu>

<div class="jumbotron container mx-auto">
    <p class="jumbotron__intro">Welcome back {{this.getUsername()}}</p>
</div>

<div class="list__section grid grid-cols-12 m-auto">
    <div class="col-span-12 lg:col-span-4 ml-4 xl:ml-0 mr-4 list__movies">
        <mlm-movie-list-home></mlm-movie-list-home>
    </div>

    <div class="col-span-12 lg:col-span-4 section__recommandation flex flex-col justify-around">
        <div class="recommand__movie flex flex-col justify-center">
            <p class="recommand__movie__label">No ideas of movies to watch ?..</p>
            <div class="flex justify-center">
                <button (click)="this.openRandomElementModal(1)" class="recommand__movie__button">Recommand me a
                    movie</button>
            </div>
        </div>
        <div class="recommand__music flex flex-col justify-center">
            <p class="recommand__music__label">What about some music ?..</p>
            <div class="flex justify-center">
                <button (click)="this.openRandomElementModal(2)" class="recommand__music__button">Recommand me a
                    music</button>
            </div>
        </div>
    </div>
    <div class="col-span-12 lg:col-span-4 list__musics mr-4 xl:mr-0 ml-4">
        <mlm-music-list-home></mlm-music-list-home>
    </div>
</div>