<div *ngIf="this.movieIllustrationPicture$ | async as pictureUrl">
    <div class="movie__list__section" [ngStyle]="{'background-image': 'url('+pictureUrl+')'}">
        <div class="container mx-auto">
            <ul class="menu__list flex flex-row justify-end ">
                <li routerLink="/search" class="menu__list__item">Search</li>
                <li routerLink="/me" class="menu__list__item">My lists</li>
            </ul>
        </div>
        <div *ngIf="this.userMovieList$ | asyncLoading | async as movieList" class="grid grid-cols-12">
            <div *ngIf="this.movieList.value"
                class="col-span-12 xl:col-span-9 flex items-center flex-col xl:items-start movie__list" cdkDropList
                [cdkDropListData]="this.movieList.value" (cdkDropListDropped)="this.onItemDragnDropped($event)">
                <div class="grid grid-cols-12 flex justify-center items-center flex-col "
                    *ngFor="let movieItem of this.movieList.value" cdkDrag>
                    <div class="col-span-1 xl:col-span-4 flex justify-center items-center ">
                        <div class="sorting__order__section flex justify-center items-center">
                            <p class="movie__sorting__order">{{movieItem.sortingOrder}}</p>
                        </div>
                    </div>
                    <mlm-movie-list-item (onDeleteItemEvent)="this.onRefreshList()"
                        class="col-span-11 xl:col-span-8 movie__item" [isDeletable]="true"
                        [movieItem]="movieItem"></mlm-movie-list-item>
                </div>
                <div *ngIf="movieList.value.length === 0" class=" list__movie__empty__section flex justify-center">
                    <div class="empty__section__container">
                        <p class="empty__section__label">It seems like you don't have any movie in your list !</p>
                        <div class="flex flex justify-center">
                            <button class="empty__section__button" [routerLink]="['/search']"
                                [queryParams]="{type: 'movie'}">Add movies</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>