.list__movies {

    .list__movies__title {
        text-align: center;
        font-size: 26px;
    }

    .list__movies__section,
    .list__movie__empty__section {
        margin-top: 40px;
        height: 386px;

        .empty__section__container {
            padding: 20px 6px;
            border-radius: 11px;
            background-color: #03030c;

            .empty__section__label {
                text-align: center;
                font-size: 18px;
                margin-bottom: 30px;
            }

            .empty__section__button {

                font-size: 15px;
                background-color: #240089;
                padding: 6px 26px;
                color: white;
                border-radius: 7px;
                border: 1px solid #240089;

                &:hover {
                    background-color: #18015c;
                    border: 1px solid white;
                }

            }
        }
    }

    .movie__show__all__button {

        font-size: 15px;
        background-color: #240089;
        padding: 6px 26px;
        color: white;
        border-radius: 7px;
        border: 1px solid #240089;

        &:hover {
            background-color: #18015c;
            border: 1px solid white;
        }

    }

    .list__error__section {
        color: white;
        margin-top: 40px;
        height: 386px;

        .error__label {
            margin-bottom: 15px;
        }

        .error__replay__button {
            font-size: 40px;
            color: #240089;

            &:hover {
                cursor: pointer;
                color: white;
            }
        }
    }
}