.menu__list {
    margin-top: 40px;
    font-size: 25px;
    color: white;

    .menu__list__item {

        &:first-child {
            margin-left: 0px;
        }

        &:last-child {
            margin-right: 0px;
        }

        margin-left: 50px;
        margin-right: 50px;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

.music__list__section {
    min-width: 1096px;
    border: 2px solid #000;
    height: 950px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.8);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 1096px 950px;

    .music__list {
        overflow: auto;
        overflow-x: hidden;
        height: 780px;
        margin-top: 50px;

        .sorting__order__section {

            width: 30px;
            height: 30px;
            text-align: center;
            background-color: #890000;
            border-radius: 13px;
            padding: 18px;

            .music__sorting__order {
                align-self: center;
                color: white;
                font-weight: 500;
                font-size: 20px;
                margin: 0;

            }
        }

        .music__item {
            width: 430px;
        }

        .empty__section__container {
            width: 550px;
            padding: 20px 6px;
            border-radius: 11px;
            color: white;
            background-color: #03030c;

            .empty__section__label {
                text-align: center;
                font-size: 18px;
                margin-bottom: 30px;
            }

            .empty__section__button {

                font-size: 15px;
                background-color: #890000;
                padding: 6px 26px;
                color: white;
                border-radius: 7px;
                border: 1px solid #890000;

                &:hover {
                    background-color: #5c0101;
                    border: 1px solid white;
                }

            }
        }
    }
}

::-webkit-scrollbar {
    width: 7px;

}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #f97474;
}

::-webkit-scrollbar-thumb:hover {
    background: #890000;
}

@media (max-width : 1279px) {

    .music__list__section {
        min-width: 0px;
        border: 2px solid #000;
        height: 950px;
        box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.8);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}