<div class="container mx-auto">
    <ul class="menu__list flex flex-row justify-end">
        <li routerLink="/search" class="menu__list__item">Search</li>
        <li routerLink="/me" class="menu__list__item">My lists</li>
    </ul>
</div>
<div class="music__album__section container mx-auto" *ngIf="this.albumDetail$ | async as albumDetail">
    <div class="grid grid-cols-12 music__section">
        <div class="col-span-4">
            <img class="music__picture" [src]="this.albumDetail.pictureUrl" alt="">
        </div>
        <div class="col-span-8 music__details" *ngIf="this.trackList$ | async as trackList">
            <div class="grid grid-cols-12">
                <div class="col-span-8 flex justify-start">
                    <div>
                        <p class="music__title">{{this.albumDetail.title}} ({{this.albumDetail.releasedAt}})</p>
                        <div class="music__genres flex">
                            <p *ngFor="let genreItem of this.albumDetail.genreList" class="genres__item">
                                {{this.genreItem.name}}
                            </p>
                        </div>
                        <div class="flex music__artist__section">
                            <img class="music__artist__picture" src="{{this.albumDetail.artist.pictureUrl}}" alt="">
                            <p class="music__artist__name">{{this.albumDetail.artist.name}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-span-4 flex justify-center">
                    <div class="music__in__list">
                        <div *ngIf="(this.isAlreadyInList$ | async) === true">
                            <p class="music__already__in__list">Already in your list</p>
                        </div>
                        <div *ngIf="(this.isAlreadyInList$ | async) === false">
                            <button class="music__add__button" (click)="this.onAddToList(this.albumDetail.apiCode)">Add
                                to list</button>
                        </div>
                        <div>
                            <p class="music__duration">Duration:
                                {{this.trackList.totalDurationInEpochMilli | timestampToTime}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <mlm-song-list [songList]="this.trackList.songList"></mlm-song-list>
            </div>
        </div>
    </div>
    <div class="separation__section flex justify-center">
        <div class="separation">

        </div>
    </div>
    <div class="artist__related__section mt-5" *ngIf="this.artistRelatedAlbums$ | async as relatedAlbums">
        <p class="artist__related__title">Other releases of {{this.albumDetail.artist.name}}</p>
        <div class="list__section flex items-center">
            <div class="flex artist__related__section__list">
                <div *ngFor="let album of this.relatedAlbums.albumList">
                    <div *ngIf="this.albumDetail.apiCode !== this.album.apiCode"
                        class="artist__related__item flex flex-col justify-between items-center">
                        <img class="item__picture" [src]="this.album.pictureUrl" alt="">
                        <div class="item__details flex flex-col justify-center items-center">
                            <p class="item__title"> {{this.album.title}}</p>
                            <p class="item__releasedAt">{{this.album.releasedAt}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>