.menu__list {
    margin-top: 40px;
    font-size: 25px;
    color: white;

    .menu__list__item {

        &:first-child {
            margin-left: 0px;
        }

        &:last-child {
            margin-right: 0px;
        }

        margin-left: 50px;
        margin-right: 50px;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

.music__album__section {
    margin-top: 80px;
    color: white;

    .back__button {
        margin-bottom: 15px;
        background-color: #890000;
        font-size: 18px;
        padding: 9px 13px;
        border-radius: 11px;
        border: 1px solid #890000;
        cursor: pointer;

        .back__button__label {
            margin-left: 5px;
            margin-bottom: 0;
            align-self: center;
        }

        &:hover {
            background-color: #5d0000;
            border: 1px solid white;
        }
    }

    .music__section {
        height: 592px;

        .music__picture {
            height: 534px;
            width: 534px;
            border-radius: 5px;
        }

        .music__details {
            padding-left: 15px;
            padding-top: 20px;

            .music__title {
                font-size: 40px;
            }

            .music__genres {
                margin-top: 25px;

                .genres__item {
                    padding: 2px 30px;
                    border-radius: 19px;
                    background-color: #6A006C;
                    color: white;
                    margin-right: 10px;
                }
            }

            .music__in__list {

                .music__add__button {
                    font-size: 25px;
                    padding: 15px 30px;
                    border-radius: 11px;
                    background-color: #890000;
                    border: 1px solid #890000;

                    &:hover {
                        background-color: #5d0000;
                        border: 1px solid white;
                    }
                }

                .music__already__in__list {
                    font-size: 15px;
                    padding: 15px 18px;
                    border-radius: 11px;
                    background-color: #1C1925;
                    border: 1px solid #1C1925;
                }

                .music__adding__to__list {
                    font-size: 15px;
                    padding: 15px 18px;
                    border-radius: 11px;
                    text-align: center;
                    background-color: rgb(202, 165, 17);
                    border: 1px solid rgb(202, 165, 17);
                }

            }



            .music__duration {
                font-size: 20px;
                margin-top: 20px;
                text-align: center;
            }

            .music__artist__section {

                .music__artist__picture {
                    width: 100px;
                    height: 100px;
                    margin-right: 20px;
                    border: 1px solid white;
                    border-radius: 5px;
                }

                .music__artist__name {
                    font-size: 25px;
                    margin-top: 10px;
                    align-self: center;
                }
            }

            .music__actors {
                font-size: 20px;
                margin-top: 25px;
                margin-bottom: 20px;
            }

            .music__synopsis {
                margin-top: 30px;
                line-height: 30px;
                font-size: 18px;
                width: 1043px;
            }

            .music__ratings {
                margin-top: 25px;
                width: 1043px;
            }
        }
    }


    .separation__section {
        margin-top: 35px;

        .separation {
            width: 250px;
            border: 1px solid white;
        }
    }

    .artist__related__section {
        margin-top: 35px;
        height: 700px;
        min-width: 1456px;

        .artist__related__title {
            font-size: 25px;
        }

        .list__section {
            width: 1456px;
            overflow-y: hidden;
            overflow-x: auto;
            margin-bottom: 30px;

            .artist__related__section__list {
                margin-top: 40px;
                margin-bottom: 40px;
                width: 6537px;

                .artist__related__item {
                    width: 300px;
                    margin-right: 20px;

                    .item__picture {
                        width: 250px;
                        height: 250px;
                        border-radius: 11px;
                    }

                    &:hover {
                        cursor: pointer;
                        transform: scale(1.10);
                        transition: transform 0.5s;
                    }

                    .item__details {
                        margin-top: 20px;
                        font-size: 18px;
                        margin-bottom: 0;
                        text-align: center;

                    }
                }
            }
        }

    }
}

::-webkit-scrollbar {
    height: 6px;

}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #f97474;
}

::-webkit-scrollbar-thumb:hover {
    background: #890000;
}