<div class="container mx-auto">
    <ul class="menu__list flex flex-row justify-end">
        <li routerLink="/search" class="menu__list__item">Search</li>
        <li routerLink="/me" class="menu__list__item">My lists</li>
    </ul>
</div>
<div class="music__album__section container mx-auto" *ngIf="this.albumDetail$  | asyncLoading | async as albumDetail">
    <div class="flex justify-start">
        <div (click)="this.goBack()" class="flex back__button">
            <mat-icon>arrow_back</mat-icon>
            <p class="back__button__label">Go back</p>
        </div>
    </div>
    <div class="grid grid-cols-12 music__section" *ngIf="this.albumDetail.value">
        <div class="col-span-12 xl:col-span-4 flex justify-center xl:justify-start">
            <img class="music__picture" [src]="this.addGenericPictureIfPictureIsNull(this.albumDetail.value.pictureUrl)"
                alt="">
        </div>
        <div class="col-span-12 xl:col-span-8 music__details"
            *ngIf="this.trackList$ | asyncLoading | async as trackList">
            <div class="grid grid-cols-12">
                <div class="col-span-12 xl:col-span-8 flex flex-col items-center xl:block">
                    <div>
                        <div class="flex justify-center xl:justify-start">
                            <p fontSizeByTextLenght [minLength]="23" [text]="this.albumDetail.value.title"
                                [defaultFontSize]="40">
                                {{this.albumDetail.value.title}} ({{this.albumDetail.value.releasedAt}})
                            </p>
                        </div>
                        <div class="music__genres flex justify-center xl:justify-start">
                            <p *ngFor="let genreItem of this.albumDetail.value.genreList" class="genres__item">
                                {{this.genreItem.name}}
                            </p>
                        </div>
                        <div class="flex music__artist__section justify-around xl:justify-start">
                            <img class="music__artist__picture" src="{{this.albumDetail.value.artist.pictureUrl}}"
                                alt="">
                            <p class="music__artist__name">{{this.albumDetail.value.artist.name}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-span-12 xl:col-span-4 flex justify-center">
                    <div class="music__in__list"
                        *ngIf="this.isAlreadyInList$ | asyncLoading | async as isAlreadyInList">
                        <div *ngIf="this.isAlreadyInList.value === true && !this.displayAddLoadingButton">
                            <p class="music__already__in__list">Already in your list</p>
                        </div>
                        <div *ngIf="this.displayAddLoadingButton">
                            <p class="music__adding__to__list">Adding to list...</p>
                        </div>
                        <div
                            *ngIf="this.isAlreadyInList.error || (this.isAlreadyInList.value === false && !this.displayAddLoadingButton)">
                            <button class="music__add__button"
                                (click)="this.onAddToList(this.albumDetail.value.apiCode)">Add
                                to list</button>
                        </div>
                        <div *ngIf="this.isAlreadyInList.loading === true">
                            <p><mlm-loading [spinnerColor]="this.getLoadingColor()"></mlm-loading></p>
                        </div>
                        <div>
                            <p *ngIf="this.trackList.value" class="music__duration">Duration:
                                {{this.trackList.value.totalDurationInEpochMilli | timestampToTime}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="this.trackList.value">
                <mlm-song-list [songList]="this.trackList.value.songList"></mlm-song-list>
            </div>
            <div class="flex justify-center items-center" *ngIf="this.trackList.loading">
                <mlm-loading [spinnerColor]="this.getLoadingColor()"></mlm-loading>
            </div>
        </div>
    </div>
    <div class="music__section flex justify-around items-center" *ngIf="this.albumDetail.loading">
        <mlm-loading [spinnerColor]="this.getLoadingColor()"></mlm-loading>
    </div>
    <div class="separation__section flex justify-center">
        <div class="separation">

        </div>
    </div>
    <div class=" mt-5" *ngIf="this.artistRelatedAlbums$ | asyncLoading | async as relatedAlbums">
        <div class="artist__related__section"
            *ngIf="this.relatedAlbums.value && this.relatedAlbums.value.albumList.length > 0">
            <p class="artist__related__title" *ngIf="this.albumDetail.value">Other releases of
                {{this.albumDetail.value.artist.name}}</p>
            <div class="list__section flex items-center">
                <div *ngIf="this.relatedAlbums.value && this.albumDetail.value"
                    class="flex artist__related__section__list">
                    <div *ngFor="let album of this.relatedAlbums.value.albumList">
                        <div (click)="this.onChangeAlbumByApiCode(this.album.apiCode)"
                            *ngIf="this.albumDetail.value.apiCode !== this.album.apiCode"
                            class="artist__related__item flex flex-col justify-between items-center">
                            <div>
                                <img class="item__picture" [src]="this.album.pictureUrl" alt="">
                            </div>
                            <div class="item__details flex flex-col justify-center items-center">
                                <p class="item__title"> {{this.album.title}}</p>
                                <p class="item__releasedAt">{{this.album.releasedAt}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex justify-center items-center list__section" *ngIf="this.relatedAlbums.loading">
                    <mlm-loading [spinnerColor]="this.getLoadingColor()"></mlm-loading>
                </div>
            </div>
        </div>
    </div>
</div>