::ng-deep .mat-dialog-container {
    background-color: #200707;
}

.modal__close__icon {
    color: white;
    font-size: 30px;

    &:hover {
        color: #890000;
        cursor: pointer;
    }

}


.element__section {
    color: white;
    border-radius: 10px;
    height: 480px;
    margin-top: 50px;

    .element__picture {
        border-radius: 10px;
        width: 480px;
        height: 480px;
    }

    .element__details__section {

        margin-top: 15px;

        .element__title {
            font-size: 23px;
        }

        .element__releasedAt {
            font-size: 18px;
            font-weight: bold;
        }
    }
}

.button__section {
    margin-top: 60px;
    color: white;

    .button__generate {
        font-size: 18px;
        padding: 10px 15px;
        background-color: #890000;
        border-radius: 9px;

        &:hover {
            font-weight: 500;
            background-color: #5d0000;
            cursor: pointer;
        }
    }
}