<div *ngIf="this.randomElement$ | async as movie" [@flash] class="flex flex-col justify-center items-center element__section">
    <img class="element__picture" [src]="this.movie.pictureUrl" alt="">
    <div class="flex flex-col justify-center items-center element__details__section">
        <p class="element__title">{{this.movie.title}}</p>
        <p class="element__releasedAt">{{this.movie.releasedAt}}</p>
    </div>
</div>
<div class="flex justify-center items-center button__section">
    <button (click)="this.generateNewRandomElement()" class="button__generate">Generate again</button>
</div>