.item__movie__section {
    color: white;

    .item__movie__addedAt {
        font-size: 15px;
        margin-bottom: 2px;

        &:hover {
            cursor: default;
        }
    }

    .item__movie__card {
        background-color: #080C24;

        border-radius: 5px;
        margin-bottom: 16px;
        height: 90px;

        .movie__picture {
            display: block;
            width: 62px;
            height: 90px;
        }

        .movie__name {
            margin: 0;
            font-size: 20px;
        }

        &:hover {
            cursor: pointer;
            background-color: #050716;

            .movie__picture {
                filter: brightness(50%);
            }
        }
    }

}

.movie__delete__section {
    align-self: center;
    color: white;
    margin-left: 20px;

    &:hover {
        cursor: pointer;
        color: #240089;
    }

    .movie__delete__button {
        font-size: 30px;
    }
}