<div class="item__movie__section container mx-auto">
    <div class="flex flex justify-end">
        <p class="item__movie__addedAt">Added {{this.movieItem.addedAt }}</p>
    </div>
    <div class="item__movie__card grid grid-cols-12">
        <div class="col-span-2">
            <img class="movie__picture" [src]="this.movieItem.movieDetail?.pictureUrl" alt="">
        </div>
        <div class="col-span-10 flex justify-center items-center">
            <p class="movie__name">{{this.movieItem.movieDetail?.title}}</p>
        </div>
    </div>
</div>