.message {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
}


//TODO Capturer l'erreur dans l'intercepteur, 
//et le metttre dans la queue qui sera ensuite utilisé dans le app component pour afficher le messae