.registration__form__label {
    color: white;
    font-weight: 400;
}

.mat-form-field {
    width: 400px;
    font-size: 20px;
    color: white;
}

::ng-deep .registration__form .mat-form-field-underline {
    background-color: white !important;
}

::ng-deep .registration__form .mat-form-field-ripple {
    background-color: white !important;
}

.register__button {
    font-size: 20px;
    background-color: #890000;
    padding: 9px 33px;
    color: white;
    border-radius: 11px;
    border: 1px solid #890000;

    &:hover {
        background-color: #5c0101;
        border: 1px solid white;
    }

    &:disabled {
        background-color: gray;
        border: 1px solid gray;
    }
}

.registration__form__illustration {
    min-width: 1096px;
    border: 2px solid #000;
    height: 940px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.8);
}

@media (max-width : 1279px) {

    .registration__section {
        height: 100%;
        background-image: url("http://localhost:8080/api/musics/pictures/random");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        .registration__form {
            padding: 20px;
            border-radius: 9px;
            background-color: rgba(210, 48, 48, 0.4);

        }
    }

}