<div class="grid grid-cols-12">
    <div class="col-span-5 flex flex-col justify-around items-center">
        <div>
            <img src="https://place-hold.it/200x200" alt="">
        </div>
        <form class="flex flex-col login__form" [formGroup]="loginForm" (ngSubmit)="this.attemptAuth()">
            <mat-form-field>
                <mat-label class="login__form__label">Username</mat-label>
                <input matInput formControlName="username">
            </mat-form-field>
            <mat-form-field class="mt-6">
                <mat-label class="login__form__label">Password</mat-label>
                <input [type]="'password'" matInput formControlName="password">
            </mat-form-field>
            <div class="flex justify-end mt-5">
                <button [disabled]="!this.isFormValid()" class="login__button">LOGIN</button>
            </div>
        </form>
        <div></div>
    </div>
    <div class="col-span-7 flex justify-end">
        <img class="login__form__illustration" src="http://localhost:8080/api/movies/pictures/random"
            alt="Movie illustration">
    </div>

</div>