<div class="grid grid-cols-12 login__section">
    <div class="col-span-12 xl:col-span-5 mt-7 xl:mt-0 flex flex-col justify-around items-center">
        <div>
            <img class="website__logo" src="../../../assets/logo.png" alt="">
        </div>
        <form class="flex flex-col login__form mt-7 lg:mt-0" [formGroup]="loginForm" (ngSubmit)="this.attemptAuth()">
            <mat-form-field>
                <mat-label class="login__form__label">Username</mat-label>
                <input matInput formControlName="username">
            </mat-form-field>
            <mat-form-field class="mt-6">
                <mat-label class="login__form__label">Password</mat-label>
                <input [type]="'password'" matInput formControlName="password">
            </mat-form-field>
            <div class="flex justify-end mt-5">
                <button [disabled]="!this.isFormValid()" class="login__button">LOGIN</button>
            </div>
        </form>
        <div class="switch__register__section">
            <p class="switch__section__label">No account ?</p>
            <button routerLink="/register" class="switch__register__button">Switch to Registration</button>
        </div>

    </div>
    <div class="hidden xl:block xl:col-span-7 flex justify-end">
        <img [@flash] class="login__form__illustration" [src]="this.randomMoviePictureUrl$ | async"
            alt="Movie illustration">
    </div>

</div>