.menu__list {
    margin-top: 40px;
    font-size: 25px;
    color: white;

    .menu__list__item {

        &:first-child {
            margin-left: 0px;
        }

        &:last-child {
            margin-right: 0px;
        }

        margin-left: 50px;
        margin-right: 50px;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

.search__title__section {
    margin-top: 100px;

    .search__title {
        font-size: 25px;
        color: white;
    }

}

.search__form__section {
    margin-top: 25px;
    font-size: 20px;

    .field__type__select {
        width: 145px;
        height: 45px;
        border-radius: 12px;
        text-align: center;
        margin-right: 40px;
    }

    .field__query__input {
        padding-left: 12px;
        width: 570px;
        height: 45px;
        border-radius: 12px;
        margin-right: 40px;
    }

    .search__button {
        font-size: 20px;
        padding: 9px 33px;
        color: white;
        border-radius: 11px;

        &:disabled {
            background-color: gray !important;
            border: 1px solid gray !important;
        }

        &.search__movie__button {
            background-color: #240089;
            border: 1px solid #240089;

            &:hover {
                background-color: #19005d;
            }
        }

        &.search__music__button {
            background-color: #890000;
            border: 1px solid #890000;

            &:hover {
                background-color: #5c0101;
            }
        }


        &:hover {

            border: 1px solid white;
        }


    }
}

.search__result {
    margin-top: 20px;

    .search__result__label {
        color: white;
        margin-bottom: 0;
        font-size: 18px;
        margin-left: 14px;
    }
}