<div class="container mx-auto">
    <ul class="menu__list flex flex-row justify-end">
        <li routerLink="/search" class="menu__list__item">Search</li>
        <li routerLink="/me" class="menu__list__item">My lists</li>
    </ul>
</div>
<div class="container mx-auto">

    <div class="flex justify-center search__title__section">
        <p class="search__title">Search your favorite movie/music</p>
    </div>
    <div class="search__form__section">
        <form [formGroup]="this.searchForm" class="flex justify-center" (ngSubmit)="this.onSearch()">
            <select (change)="this.onTypeChange()" formControlName="type" class="field__type__select">
                <option *ngFor="let type of this.searchTypeConstants.SEARCH_TYPE_LIST" [value]="type">{{type |
                    titlecase}}</option>
            </select>
            <input formControlName="query" class="field__query__input" placeholder="Type your query here" type="text">
            <button [disabled]="!this.isFormValid()" class="search__button"
                [ngClass]="this.searchButtonStyle">Search</button>
        </form>
    </div>

    <div *ngIf="this.isSearchDisplayed">
        <div class="container mx-auto search__result__section">
            <div class="grid grid-cols-10">
                <div class="col-span-3">
                    <mlm-filter-form [type]="this.type"
                        (applyFilterEvent)="this.onApplyFilter($event)"></mlm-filter-form>
                </div>
                <div *ngIf="this.searchResult$ | async as searchResults" [ngSwitch]="this.type" class="col-span-6">
                    <mlm-search-result-album *ngSwitchCase="'album'"
                        [searchResults]="this.searchResults"></mlm-search-result-album>
                    <mlm-search-result-movie *ngSwitchCase="'movie'"
                        [searchResults]="this.searchResults"></mlm-search-result-movie>
                </div>
            </div>
        </div>
    </div>
</div>