<div class="container mx-auto">
    <ul class="menu__list flex flex-row justify-end">
        <li routerLink="/search" class="menu__list__item">Search</li>
        <li routerLink="/me" class="menu__list__item">My lists</li>
    </ul>
</div>
<div class="movie__section container mx-auto">
    <div class="grid grid-cols-12" *ngIf="this.movieDetail$ | async as movieDetail">
        <div class="col-span-3">
            <img class="movie__picture" [src]="this.movieDetail.pictureUrl" alt="">
        </div>
        <div class="col-span-9 movie__details">
            <div class="grid grid-cols-12">
                <div class="col-span-8 flex justify-start">
                    <div>
                        <p class="movie__title">{{this.movieDetail.title}} ({{this.movieDetail.releasedAt}})</p>
                        <div class="movie__genres flex">
                            <p *ngFor="let genreItem of this.movieDetail.genreList" class="genres__item">
                                {{this.genreItem}}
                            </p>
                        </div>
                        <p class="movie__director">Directed by {{this.movieDetail.director}}</p>
                    </div>
                </div>
                <div class="col-span-4 flex justify-center">
                    <div class="movie__in__list">
                        <div *ngIf="this.movieDetail.isAlreadyInList">
                            <p class="movie__already__in__list">Already in your list</p>
                        </div>
                        <div *ngIf="!this.movieDetail.isAlreadyInList">
                            <button class="movie__add__button">Add to list</button>
                        </div>
                        <div>
                            <p class="movie__duration">Duration: {{this.toHourMinute(this.movieDetail.duration)}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <p class="movie__actors">Starring {{this.movieDetail.mainActors}}</p>
            <div>
                <p class="movie__synopsis">{{this.movieDetail.synopsis}}</p>
                <div class="movie__ratings">
                </div>
            </div>
        </div>
    </div>
</div>