<mlm-nav-menu></mlm-nav-menu>
<div class="movie__section container mx-auto">
    <div class="flex justify-start">
        <div (click)="this.goBack()" class="flex back__button">
            <mat-icon>arrow_back</mat-icon>
            <p class="back__button__label">Go back</p>
        </div>
    </div>
    <div class="grid grid-cols-12" *ngIf="this.movieDetail$ | asyncLoading | async as movieDetail">
        <div class="col-span-12 xl:col-span-3 flex justify-center" *ngIf="this.movieDetail.value">
            <img class="movie__picture" [src]="this.movieDetail.value.pictureUrl" alt="">
        </div>
        <div class="col-span-12 xl:col-span-9 movie__details" *ngIf="this.movieDetail.value">
            <div class="grid grid-cols-12">
                <div class="col-span-12 xl:col-span-8">
                    <div>
                        <div class="flex justify-center xl:justify-start">
                            <p class="movie__title" fontSizeByTextLenght [minLength]="35"
                                [text]="this.movieDetail.value.title" [defaultFontSize]="40">
                                {{this.movieDetail.value.title}} ({{this.movieDetail.value.releasedAt}})
                            </p>
                        </div>
                        <div class="movie__genres flex justify-center xl:justify-start">
                            <p *ngFor="let genreItem of this.movieDetail.value.genreList" class="genres__item">
                                {{this.genreItem}}
                            </p>
                        </div>
                        <p class="movie__director">Directed by {{this.movieDetail.value.director}}</p>
                    </div>
                </div>
                <div class="col-span-12 xl:col-span-4 flex justify-center">
                    <div class="movie__in__list"
                        *ngIf="this.isAlreadyInList$ | asyncLoading | async as isAlreadyInList">
                        <div *ngIf="this.isAlreadyInList.value === true && !this.displayAddLoadingButton">
                            <p class="movie__already__in__list">Already in your list</p>
                        </div>
                        <div *ngIf="this.displayAddLoadingButton">
                            <p class="movie__adding__to__list">Adding to list...</p>
                        </div>
                        <div
                            *ngIf="this.isAlreadyInList.error || (this.isAlreadyInList.value === false && !this.displayAddLoadingButton)">
                            <button class="movie__add__button"
                                (click)="this.onAddToList(this.movieDetail.value.apiCode)">Add
                                to list</button>
                        </div>
                        <div *ngIf="this.isAlreadyInList.loading === true">
                            <p><mlm-loading [spinnerColor]="this.getLoadingColor()"></mlm-loading></p>
                        </div>
                        <div>
                            <p class="movie__duration">Duration: {{this.toHourMinute(this.movieDetail.value.duration)}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <p class="movie__actors">Starring {{this.movieDetail.value.mainActors}}</p>
            <div>
                <p class="movie__synopsis">{{this.movieDetail.value.synopsis}}</p>
                <div class="movie__ratings">
                    <mlm-movie-rating class="flex flex-col xl:flex-row xl:justify-around"
                        [movieRatingList]="this.movieDetail.value.ratings"></mlm-movie-rating>
                </div>
            </div>
        </div>
        <div *ngIf="this.movieDetail.loading" class="col-span-12 loading_section flex justify-center items-center">
            <div class="flex justify-center items-center">
                <mlm-loading [spinnerColor]="this.getLoadingColor()"></mlm-loading>
            </div>
        </div>
    </div>
</div>