.menu__list {
    margin-top: 40px;
    font-size: 25px;
    color: white;

    .menu__list__item {

        &:first-child {
            margin-left: 0px;
        }

        &:last-child {
            margin-right: 0px;
        }

        margin-left: 50px;
        margin-right: 50px;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

.movie__section {
    margin-top: 80px;
    color: white;

    .back__button {
        margin-bottom: 15px;
        background-color: #240089;
        font-size: 18px;
        padding: 9px 13px;
        border-radius: 11px;
        border: 1px solid #240089;
        cursor: pointer;

        .back__button__label {
            margin-left: 5px;
            margin-bottom: 0;
            align-self: center;
        }

        &:hover {
            background-color: #19005d;
            border: 1px solid white;
        }
    }

    .movie__picture {
        width: 384px;
        width: 534px;
        border-radius: 5px;
    }

    .movie__details {
        padding-left: 15px;
        padding-top: 20px;

        .movie__title {
            font-size: 40px;
        }

        .movie__genres {
            margin-top: 25px;

            .genres__item {
                padding: 2px 30px;
                border-radius: 19px;
                background-color: #6A006C;
                color: white;
                margin-right: 10px;
            }
        }

        .movie__in__list {

            .movie__add__button {
                font-size: 25px;
                padding: 15px 30px;
                border-radius: 11px;
                background-color: #240089;
                border: 1px solid #240089;

                &:hover {
                    background-color: #19005d;
                    border: 1px solid white;
                }
            }

            .movie__already__in__list {
                font-size: 15px;
                padding: 15px 18px;
                border-radius: 11px;
                background-color: #1C1925;
                border: 1px solid #1C1925;
            }

            .movie__adding__to__list {
                font-size: 15px;
                padding: 15px 18px;
                border-radius: 11px;
                text-align: center;
                background-color: rgb(202, 165, 17);
                border: 1px solid rgb(202, 165, 17);
            }

        }



        .movie__duration {
            font-size: 20px;
            margin-top: 20px;
            text-align: center;
        }

        .movie__director {
            font-size: 20px;
            margin-top: 10px;
        }

        .movie__actors {
            font-size: 20px;
            margin-top: 25px;
            margin-bottom: 20px;
        }

        .movie__synopsis {
            margin-top: 30px;
            padding-right: 15px;
            line-height: 30px;
            font-size: 18px;
            width: 1043px;
            height: 220px;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .movie__ratings {
            margin-top: 25px;
            width: 1043px;
        }
    }

    .loading_section {
        height: 696px;
    }
}


::-webkit-scrollbar {
    width: 5px;

}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #747bf9;
}

::-webkit-scrollbar-thumb:hover {
    background: #240089;
}